name: Pull Request Target

on:
  pull_request

jobs:
  pull-request-target:
    runs-on: ubuntu-latest
    steps:
      - name: checkout to repo
        uses: actions/checkout@v4

      - name: Run command
        run: |
          echo "This is pull request target from origin"
          ls -la
